<!doctype html>
<html>
<head>
    <title>Dirty Thirty</title>
    <link rel="stylesheet" href="css/app.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="dirtyThirty" ng-cloak ng-controller="ReasonCtrl as ctrl">
    <h1>Title</h1>
    <button ng-click="ctrl.setDaily()">Reason of the Day</button>
    <button ng-click="ctrl.setRandom()">Random Reason</button>
    <button ng-click="ctrl.setAll()">All Reasons</button>
    <ul class="reasons">
        <li ng-repeat="reason in ctrl.reasons track by $index" class="reason">
            {{reason}}
        </li>
    </ul>
</body>
</html>
